<div>
    <div class="h-full pt-50 text-center !text-gray-100 pb-20" style="background: #081424">
        <h1 class="mt-4 max-w-4xl mx-auto !text-6xl text-white !font-bold">The Only AI Platform You Will Ever Need</h1>
        <br>
        <div class="text-lg mt-4 max-w-2xl mx-auto text-gray-400">
            <p>Lim's AI Toolbox is a collection of AI-driven tools to enhance productivity, automate tasks, and optimize workflows. You will never need to create a long prompt again into AI to be able to get the results you want.</p>
        </div>
        <div class="mt-6 space-x-4 pb-50 pt-20">
            <button class="btn btn-primary px-6 py-3 !rounded-2xl w-35">Start Now</button>
        </div>
        <div class="max-w-4xl mx-auto h-full pt-30 text-center rounded-4xl bg-gray-200">
            <h1 class="max-w-4xl mx-auto !text-5xl !text-blue-700 !font-semibold">What do we offer?</h1>
            <br>
            <div class="text-lg mt-4 max-w-2xl mx-auto">
                <p class="text-black">We offer a wide variety of AI tools using Google Gemini and OpenAI. We have high level prompts already set up for the optimal AI results, so all you have to do is to input the relevant information and get your AI optimized output immediately!</p>
                <br>
                <p class="text-black">If there are tools that is not currently implemented but you would like to see, feel free to reach out and I'll take a look into it!</p>
                <div class="mt-6 space-x-4 pb-30">
                    <a href="/contactme">
                        <button class="btn px-6 py-3 !rounded-2xl w-35 text-white" style="background: #081424">Contact Me</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</div>
