/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@tailwind utilities;

* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    color: var(--color-gray-400);

}

html { 
    background-color: #081424;
}